/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
    border: 5px solid black;
    background-color: forestgreen;
    padding: 20px;
    font-size: xx-large; 
    margin: 5px;
    
}
div {
    text-align: center;
    background-color: white;
    border: 5px solid black;
    padding: 10px;
    margin: 50px;
}
/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: rgb(15, 16, 15);
    text-align: center;
    background-color: white;
    margin:100px;
    padding: 20px;
    
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    color:black;
    text-align: center;
    background-color:forestgreen;
}
